<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Famous Shoe Distribution | {{ store.getStoreName }}</title>
    </head>
    <body>
        <div class="container-fluid">

            <h1>Famous Shoe Distribution | {{ store.getStoreName }}</h1>

            <h2>{{ store.getStoreName }}</h2>
            {% if store_brands is not empty %}
            <h3>Brands Carried By This Store:</h3>
                {% for brand in store_brands %}
                    <h4>{{ brand.getBrandName }} - Price Point: {{ brand.getPrice }}</h4>
                {% endfor %}
            {% endif %}

            <h2>Edit Store</h2>
            <form action="/edit_store/{{ store.getID }}" name="edit_store" method="post">
                <input name="_method" type="hidden" value="patch">

                <label for="store_name">New Store Name: </label>
                <input type="store_name" name="store_name" type="text" required>

                <button type="submit" name="button">Update Store</button>
            </form>

            <h2>Assign A Brand To This Store</h2>

            <form action="/assign_brand/{{ store.getID }}" name="assign_brand" method="post">
                <label for="all_brands">Add A Brand: </label>
                <select name="all_brands">
                    {% for brand in all_brands %}
                        <option value="{{ brand.getID }}">{{ brand.getBrandName }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="button">Add Brand</button>
            </form>

            <form action="/delete_store/{{ store.getID }}" method="post">
                <input name="_method" type="hidden" value="delete">

                <button type="submit">Delete Store</button>
            </form>

            <h4><a href="/">Home</a></h4>
        </div>
    </body>
</html>
